
p{ width: 400px; height: 80px; background: aliceblue; color: blue; font-size: 30px; font-family:"ÐÂËÎÌå"; text-align: left;
            text-indent: 2em;}
span{color: blueviolet}
div{color: brown}
#h2{color: chartreuse}
.b2{color: aqua ; border: firebrick 10px}
#b3{color: black}
#b6{color: crimson}
#self{color:firebrick}
.b4{color: goldenrod}
.b5{color: deeppink}
.b1{color: coral}
.logo_bule{color: blue; font-size: 30px}
.logo_red{color: red; font-size: 30px}
.logo_ral{color: goldenrod; font-size: 30px}
.logo_yellow{color: yellow; font-size: 30px}
